# Pandas introduction

Before Pandas, must understand the concept of `Numpy arrays`. Because Pandas is an open source software library which is **built on top of `NumPy`**. 

Used for data manipulation, analysis and cleaning, such as: 

- Tabular data with heterogeneously-typed columns
- Ordered and unordered time series data
- Arbitrary matrix data with row & column labels
- Unlabelled data
- Any other form of observational or statistical data sets

In Panda, namely there are two terminologies :

1. **_Series_**  1-Dimensional array or (1-D array).

2. **_Data Frame_**  2-dimensional array (2-D array) with rows and columns that represents a tabular, spread-sheet like data structures.

In [2]:
import pandas as pd

In [4]:
data = {'Pakistan': 5000, 'America': 2500, 'Europe': 1000}
seriesobj = pd.Series(data)
seriesobj

Pakistan    5000
America     2500
Europe      1000
dtype: int64

In [5]:
prices = [ [34,45,54],[45,43,98]]
df = pd.DataFrame(prices, columns=['Jan', 'Feb', 'Mar'])
df

   Jan  Feb  Mar
0   34   45   54
1   45   43   98

In [16]:
df['Jan']

0    34
1    45
Name: Jan, dtype: int64

In [17]:
type(df['Jan'])

pandas.core.series.Series

In [18]:
df[['Jan','Feb']]

   Jan  Feb
0   34   45
1   45   43

In [19]:
df['Jan'][1]

45

In [20]:
df.columns

Index(['Jan', 'Feb', 'Mar'], dtype='object')