# .loc, .iloc, .ix, .at, .iat in Pandas

Before applying any Machine Learning Model or Techniques it is necessary to get to know the data attributes and dimensions in order to treat it accordingly.

In [1]:
import pandas as pd
 
df = pd.read_csv(
    filepath_or_buffer='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',
    header=None,
    sep=',')
 
df.columns=['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']
 
df.dropna(how="all", inplace=True) # drops the empty line at file-end
 
df.head()
df.tail()
 
df = df.set_index('class')

In [11]:
df.head(5)

             sepal_len  sepal_wid  petal_len  petal_wid
class
Iris-setosa        5.1        3.5        1.4        0.2
Iris-setosa        4.9        3.0        1.4        0.2
Iris-setosa        4.7        3.2        1.3        0.2
Iris-setosa        4.6        3.1        1.5        0.2
Iris-setosa        5.0        3.6        1.4        0.2

In [22]:
#df['petal_len'].head()

df.iloc[:3,0:2]

             sepal_len  sepal_wid
class
Iris-setosa        5.1        3.5
Iris-setosa        4.9        3.0
Iris-setosa        4.7        3.2

In [5]:
df[['petal_len', 'petal_wid']].head(5)

             petal_len  petal_wid
class
Iris-setosa        1.4        0.2
Iris-setosa        1.4        0.2
Iris-setosa        1.3        0.2
Iris-setosa        1.5        0.2
Iris-setosa        1.4        0.2

**_SELECTING ALL ROWS BY INDEX LABEL_**

In [6]:
# Select all rows with class/index label 'Iris-virginica'
df.loc['Iris-virginica'].head(5)

                sepal_len  sepal_wid  petal_len  petal_wid
class
Iris-virginica        6.3        3.3        6.0        2.5
Iris-virginica        5.8        2.7        5.1        1.9
Iris-virginica        7.1        3.0        5.9        2.1
Iris-virginica        6.3        2.9        5.6        1.8
Iris-virginica        6.5        3.0        5.8        2.2

**_SELECTING ROWS IN PANDAS_**

In [ ]:
# Select every row up to 5
df.iloc[:4]
 
# Select the forth and fifth row
df.iloc[3:4]
 
# Select every row after the fifth row
df.iloc[4:]

**_SELECTING COLUMNS IN PANDAS_**

In [7]:
# Select the first 2 columns
df.iloc[:,:2]

                sepal_len  sepal_wid
class
Iris-setosa           5.1        3.5
Iris-setosa           4.9        3.0
Iris-setosa           4.7        3.2
Iris-setosa           4.6        3.1
Iris-setosa           5.0        3.6
Iris-setosa           5.4        3.9
Iris-setosa           4.6        3.4
Iris-setosa           5.0        3.4
Iris-setosa           4.4        2.9
Iris-setosa           4.9        3.1
Iris-setosa           5.4        3.7
Iris-setosa           4.8        3.4
Iris-setosa           4.8        3.0
Iris-setosa           4.3        3.0
Iris-setosa           5.8        4.0
Iris-setosa           5.7        4.4
Iris-setosa           5.4        3.9
Iris-setosa           5.1        3.5
Iris-setosa           5.7        3.8
Iris-setosa           5.1        3.8
Iris-setosa           5.4        3.4
Iris-setosa           5.1        3.7
Iris-setosa           4.6        3.6
Iris-setosa           5.1        3.3
Iris-setosa           4.8        3.4
Iris-setosa           5.0        3.0
Iris-setosa           5.0        3.4
Iris-setosa           5.2        3.5
Iris-setosa           5.2        3.4
Iris-setosa           4.7        3.2
...                   ...        ...
Iris-virginica        6.9        3.2
Iris-virginica        5.6        2.8
Iris-virginica        7.7        2.8
Iris-virginica        6.3        2.7
Iris-virginica        6.7        3.3
Iris-virginica        7.2        3.2
Iris-virginica        6.2        2.8
Iris-virginica        6.1        3.0
Iris-virginica        6.4        2.8
Iris-virginica        7.2        3.0
Iris-virginica        7.4        2.8
Iris-virginica        7.9        3.8
Iris-virginica        6.4        2.8
Iris-virginica        6.3        2.8
Iris-virginica        6.1        2.6
Iris-virginica        7.7        3.0
Iris-virginica        6.3        3.4
Iris-virginica        6.4        3.1
Iris-virginica        6.0        3.0
Iris-virginica        6.9        3.1
Iris-virginica        6.7        3.1
Iris-virginica        6.9        3.1
Iris-virginica        5.8        2.7
Iris-virginica        6.8        3.2
Iris-virginica        6.7        3.3
Iris-virginica        6.7        3.0
Iris-virginica        6.3        2.5
Iris-virginica        6.5        3.0
Iris-virginica        6.2        3.4
Iris-virginica        5.9        3.0

[150 rows x 2 columns]

<hr />

# df.at or df.iat

In [ ]:
at and iat is used to to find specific cell.

In [21]:
df.head(5)

             sepal_len  sepal_wid  petal_len  petal_wid
class
Iris-setosa        5.1        3.5        1.4        0.2
Iris-setosa        4.9        3.0        1.4        0.2
Iris-setosa        4.7        3.2        1.3        0.2
Iris-setosa        4.6        3.1        1.5        0.2
Iris-setosa        5.0        3.6        1.4        0.2

In [26]:
df.at['Iris-setosa', 'sepal_wid']

array([3.5, 3. , 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7, 3.4, 3. ,
       3. , 4. , 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7, 3.6, 3.3, 3.4, 3. ,
       3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1, 4.2, 3.1, 3.2, 3.5, 3.1, 3. ,
       3.4, 3.5, 2.3, 3.2, 3.5, 3.8, 3. , 3.8, 3.2, 3.7, 3.3])

In [27]:
df.iat[0,1]

3.5

# Conclusion

- Use at or iat when updating cell values.
- Use iloc when reading cell values.